<form action="/publications/add" method="POST">
	<label for="season">Saison</label>
	<input type="text" name="season" id="season">

	<label for="title">Titre</label>
	<input type="text" name="title" id="title">

	<label for="client">Client</label>
	<input type="text" name="client" id="client">

	<label for="url">Lien</label>
	<input type="text" name="url" id="url">

	<label for="award">Award</label>
	<input type="checkbox" name="award" id="award">

	<label for="place">Ordre</label>
	<input type="text" name="place" id="place">

	<input type="submit" value="Ajouter cette publication">
</form>