<form action="/publications/add" method="POST">
	<label for="season">Saison</label>
	<input type="text" name="season" id="season">

	<label for="season_en">Saison EN</label>
	<input type="text" name="season_en" id="season_en">

	<label for="season_jp">Saison JP</label>
	<input type="text" name="season_jp" id="season_jp">

	<label for="season_kor">Saison KOR</label>
	<input type="text" name="season_kor" id="season_kor">


	<label for="title">Titre</label>
	<input type="text" name="title" id="title">

	<label for="title_en">Titre EN</label>
	<input type="text" name="title_en" id="title_en">

	<label for="title_jp">Titre JP</label>
	<input type="text" name="title_jp" id="title_jp">

	<label for="title_kor">Titre KOR</label>
	<input type="text" name="title_kor" id="title_kor">


	<label for="client">Client</label>
	<input type="text" name="client" id="client">

	<label for="client_en">Client EN</label>
	<input type="text" name="client_en" id="client_en">

	<label for="client_jp">Client JP</label>
	<input type="text" name="client_jp" id="client_jp">

	<label for="client_kor">Client KOR</label>
	<input type="text" name="client_kor" id="client_kor">


	<label for="url">Lien</label>
	<input type="text" name="url" id="url">

	<label for="award">Award</label>
	<input type="checkbox" name="award" id="award">

	<label for="place">Ordre</label>
	<input type="text" name="place" id="place">

	<input type="submit" value="Ajouter cette publication">
</form>
