<div id="header">
	<div class="container">
		<div class="left">
			<h1><a href="#accueil">Atrois Studio</a></h1>
		</div><div class="middle">
			<nav>
				<ul>
					<li><a href="#à-propos">À propos</a></li>
					<li><a href="#contact">Contact</a></li>
					<li><a href="#presse">Presse</a></li>
					<li><a href="#store">Store</a></li>
				</ul>
			</nav>
		</div><div class="right">
			<ul>
				<li><a href="/jp">日本</a></li>
				<li><a href="/cn">日本</a></li>
				<li><a href="/en">English</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="fullpage">
	{{!-- HOME --}}
	<div data-anchor="accueil" id="section-home" class="section">
		<div class="container">
			
		</div>
	</div>

	{{!-- ABOUT --}}
	<div data-anchor="à-propos" id="section-about" class="section">
		<div class="container">
			<h1>À propos</h1>
		</div>
	</div>

	{{!-- CONTACT --}}
	<div data-anchor="contact" id="section-contact" class="section">
		<div class="container">
			<h1>Contact</h1>
		</div>
	</div>

	{{!-- PRESS --}}
	<div data-anchor="presse" id="section-press" class="section">
		<div class="container">
			<h1>Presse</h1>
		</div>
	</div>

	{{!-- STORE --}}
	<div data-anchor="store" id="section-storeyy" class="section">
		<div class="container">
			<h1>Store</h1>
		</div>
	</div>
</div>


<div id="footer">
	Footer
</div>