<div id="header">
	<div class="container">
		<div class="left">
			<a href="/">Atrois Studio</a>
		</div>

		<div class="middle">
			<nav>
				<ul>
					<li><a href="">saldsf</a></li>
					<li><a href="">qsdf</a></li>
					<li><a href="">qdsf</a></li>
					<li><a href="">qdfqsdf</a></li>
				</ul>
			</nav>
		</div>

		<div class="right">
			<ul>
				<li><a href="/">Français</a></li>
				<li><a href="/en">English</a></li>
				<li><a href="/cn">Chinois</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="fullpage">
	<div class="section">Japonais</div>
	<div class="section">Contact</div>
	<div class="section">Presse</div>
	<div class="section">Store</div>
</div>


<div id="footer">
	Footer
</div>