<div id="header">
	<div class="container">
		<div class="left">
			<h1><a href="#accueil">Atrois Studio</a></h1>
		</div><div class="middle">
			<nav>
				<ul>
					<li>
						<a href="#à-propos">À propos</a>
						<div class="highliner"></div>
					</li>

					<li>
						<a href="#contact">Contact</a>
						<div class="highliner"></div>
					</li>

					<li>
						<a href="#presse">Presse</a>
						<div class="highliner"></div>
					</li>

					<li>
						<a href="#store">Store</a>
						<div class="highliner"></div>
					</li>
				</ul>
			</nav>
		</div><div class="right">
			<ul>
				<li><a href="/jp">日本</a></li>
				<li><a href="/cn">日本</a></li>
				<li><a href="/en">English</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="fullpage">
	{{!-- HOME --}}
	<div data-anchor="accueil" id="section-home" class="section">
		<div class="arrow-down">
			<a><img src="/images/arrow-down.png" alt="Navigation - Flèche vers le bas"></a>
		</div>
	</div>

	{{!-- ABOUT --}}
	<div data-anchor="à-propos" id="section-about" class="section">
		<div class="container">
			<h1>À propos</h1>
		</div>
	</div>

	{{!-- CONTACT --}}
	<div data-anchor="contact" id="section-contact" class="section">
		<div class="container">
			<h1>Contact</h1>
		</div>
	</div>

	{{!-- PRESS --}}
	<div data-anchor="presse" id="section-press" class="section">
		<div class="container">
			<h1>Presse</h1>
		</div>
	</div>

	{{!-- STORE --}}
	<div data-anchor="store" id="section-store" class="section">
		<div class="container">
			<h3>En construction</h3>
		</div>
	</div>
</div>


<div id="additional">
	<div class="gradient-reverse"></div>
	<div class="logo">
		<img src="/images/logo.png" alt="Logo Atrois Studio">
	</div>

	<div class="copyright">
		<p>© (2015 - 2016)</p>
	</div>

	<div class="social">
		<ul>
			<li><a href="https://www.instagram.com/atroistudio/">Instagram</a></li>
			<li><a href="https://www.facebook.com/atroistudio/">Facebook</a></li>
			<li><a href="https://www.behance.net/atroistudio">Behance</a></li>
			<li><a href="https://fr.pinterest.com/atroistudio/">Pinterest</a></li>
		</ul>
	</div>
</div>