/* FONTS */
@font-face {
	font-family: 'DIN Pro Black';
	font-style: normal;
	font-weight: normal;
	src: local('DIN Pro Black'), url('../fonts/DINPro-Black.woff') format('woff');
}
@font-face {
	font-family: 'DIN Pro Light';
	font-style: normal;
	font-weight: normal;
	src: local('DIN Pro Light'), url('../fonts/DINPro-Light.woff') format('woff');
}
@font-face {
	font-family: 'DIN Pro Medium';
	font-style: normal;
	font-weight: normal;
	src: local('DIN Pro Medium'), url('../fonts/DINPro-Medium.woff') format('woff');
}
@font-face {
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: normal;
	src: local('DIN Pro'), url('../fonts/DINPro.woff') format('woff');
}
@font-face {
	font-family: 'DIN Pro Black Italic';
	font-style: normal;
	font-weight: normal;
	src: local('DIN Pro Black Italic'), url('../fonts/DINPro-BlackItalic.woff') format('woff');
}
@font-face {
	font-family: 'DIN Pro Bold';
	font-style: normal;
	font-weight: normal;
	src: local('DIN Pro Bold'), url('../fonts/DINPro-Bold.woff') format('woff');
}
@font-face {
	font-family: 'DIN Pro Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('DIN Pro Bold Italic'), url('../fonts/DINPro-BoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'DIN Pro Italic';
	font-style: normal;
	font-weight: normal;
	src: local('DIN Pro Italic'), url('../fonts/DINPro-Italic.woff') format('woff');
}
@font-face {
	font-family: 'DIN Pro Light Italic';
	font-style: normal;
	font-weight: normal;
	src: local('DIN Pro Light Italic'), url('../fonts/DINPro-LightItalic.woff') format('woff');
}
@font-face {
	font-family: 'DIN Pro Medium Italic';
	font-style: normal;
	font-weight: normal;
	src: local('DIN Pro Medium Italic'), url('../fonts/DINPro-MediumItalic.woff') format('woff');
}
@font-face {
	font-family: 'FF DIN';
	font-style: normal;
	font-weight: normal;
	src: local('FF DIN Regular'), url('../fonts/FFDIN.woff') format('woff');
}
@font-face {
	font-family: 'FF DIN Italic';
	font-style: normal;
	font-weight: normal;
	src: local('FF DIN Italic'), url('../fonts/FFDIN-Italic.woff') format('woff');
}

/* GENERAL */
$black: #000000;
$grey: #787878;

body {
	padding: 50px;
	font: 14px "DIN Pro", sans-serif, Arial;
}

a, p, span {
	letter-spacing: 1px;
}

a {
	color: $black;
	text-decoration: none;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.gradient {
	background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.gradient-reverse {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%; height: 75px;
	background:-moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background:-webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background:linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.blend {
	mix-blend-mode: exclusion;
}


/* HEADER */
#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 45px;
	z-index: 100;

	.container {
		height: 160px;
		margin: 0 auto;
		max-width: 900px;
		z-index: 100;

		.left, .middle, .right {
			display: inline-block;

			ul, li {
				display: inline-block;

				&:not(:last-child) {
					margin-right: 22px;
				}
				a {
					font: 12px 'DIN Pro Medium', sans-serif, Arial;
				}
			}
		}
		.left {
			width: 30%;

			h1 a {
				font: 12px "DIN Pro Bold", sans-serif, Arial;
			}
		}
		.middle {
			width: 40%;

			ul, li {
				&:not(:last-child) {
					margin-right: 22px;
				}
			}
		}
		.right {
			width: 30%;

			ul, li {
				float: right;
				&:not(:first-child) {
					margin-right: 10px;
				}
			}
		}
	}
}


/* CONTENT */
#fullpage {
	width: 100%; height: 100%;
	text-align: center;

	.section {
		display: table;
		table-layout: fixed;
		width: 100%;

		.container {
			margin: 0 auto;
			vertical-align: middle;
			width: 100%;
			max-width: 900px;
		}
	}
}


/* HOME */
#section-home {
	background-size: cover;
	background-image: url("/images/test/bg.png");
	position: relative;

	.arrow-down {
		width: 100%;
		position: absolute;
		bottom: 28px;

		img {
			cursor: pointer;
			width: 40px; height: 45px;
		}
	}
}


/* ADDITIONAL */
#additional {
	.logo {
		pointer-events: none;
		position: fixed;
		left: 100px; bottom: calc(50% - 21px);

		img {
			height: 42px; width: auto;
		}
	}

	.copyright {
		position: fixed;
		right: 50px; bottom: 50px;
		font: 12px 'DIN Pro Medium', sans-serif, Arial;
		writing-mode: vertical-lr;
		pointer-events: none;
	}
	
	.social {
		display: none;
		position: fixed;
		bottom: 45px; right: 21%;
		font: 12px 'DIN Pro Medium', sans-serif, Arial;

		ul {
			li {
				display: inline-block;

				&:not(:first-child) {
					margin-left: 10px;
				}
			}
		}
	}
}
