/* LOADER */
#loader {
  position: absolute;
  width: 100%; height: 100%;
  background-color: white;
  z-index: 999999999999999;

  .container {
    width: 100%; height: 100%;

    svg {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      margin-top: -50px;
      margin-left: -50px;
    }
  }
}
#main {
  opacity: 0;
}

::selection {
  color: white;
  background: #000; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: white;
  background: #000; /* Gecko Browsers */
}

/* FONTS */
@font-face {
  font-family: 'DIN Pro Black';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Black'), url('../fonts/DINPro-Black.woff') format('woff');
}
@font-face {
  font-family: 'DIN Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Light'), url('../fonts/DINPro-Light.woff') format('woff');
}
@font-face {
  font-family: 'DIN Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Medium'), url('../fonts/DINPro-Medium.woff') format('woff');
}
@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro'), url('../fonts/DINPro.woff') format('woff');
}
@font-face {
  font-family: 'DIN Pro Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Black Italic'), url('../fonts/DINPro-BlackItalic.woff') format('woff');
}
@font-face {
  font-family: 'DIN Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Bold'), url('../fonts/DINPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'DIN Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Bold Italic'), url('../fonts/DINPro-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'DIN Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Italic'), url('../fonts/DINPro-Italic.woff') format('woff');
}
@font-face {
  font-family: 'DIN Pro Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Light Italic'), url('../fonts/DINPro-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'DIN Pro Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Medium Italic'), url('../fonts/DINPro-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'FF DIN';
  font-style: normal;
  font-weight: normal;
  src: local('FF DIN Regular'), url('../fonts/FFDIN.woff') format('woff');
}
@font-face {
  font-family: 'FF DIN Italic';
  font-style: normal;
  font-weight: normal;
  src: local('FF DIN Italic'), url('../fonts/FFDIN-Italic.woff') format('woff');
}


/* GENERAL */
$black: #000000;
$grey: #787878;

body {
  padding: 50px;
  font: 14px "DIN Pro", sans-serif, Arial;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

a, p, span, h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
}

a {
  color: $black;
  outline: none !important;
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h3 {
  font: 13px "DIN Pro Medium", sans-serif, Arial;
}
.gradient {
  background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.gradient-reverse {
  display: none;
  position: fixed;
  bottom: 0;
  width: 98%; height: 12%;
  background:-moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 80%, rgba(255,255,255,0) 100%);
  background:-webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 80%, rgba(255,255,255,0) 100%);
  background:linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 80%, rgba(255,255,255,0) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.blend {
  mix-blend-mode: exclusion;
}


/* HEADER */
#header-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 98%;
  z-index: 2000;

  .container {
    height: 120px;
    margin: 0 auto;
    width: 100%;
    z-index: 100;

    .logo {
      text-align: center;
      padding: 16px 0 0 0;

      a {
        margin-left: 2%;
        font: 13px "DIN Pro Bold", sans-serif, Arial;
      }
    }
    .menu-icon {
      cursor: pointer;
      position: absolute;
      left: 10%;
      height: 34px;
      width: 34px;
      top: 14px;

      .hamb-menu {
        display: inline-block;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 22px;
        height: 2px;
        background-color: $grey;
        opacity: 0.2;
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;

        &::before, &::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: $grey;
          right: 0;
          -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
          -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
          transition: transform .3s, top .3s, background-color 0s;
        }
        &::before {
          top: -6px;
        }
        &::after {
          top: 6px;
        }

        &.is-clicked {
          background-color: rgba(255, 255, 255, 0);

          &::before {
            top: 0;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
          }
          &::after {
            top: 0;
            -webkit-transform: rotate(225deg);
            -moz-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
            -o-transform: rotate(225deg);
            transform: rotate(225deg);
          }
        }
      }
    }
    .mobile-close-button {
      display: none;
      position: absolute;
      right: 18px;
      top: 18px;
      width: 18px;
      height: 18px;
      opacity: 0.2;

      &::before, &::after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 18px;
        width: 2px;
        background-color: #333;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
#menu-container-mobile {
  position: absolute;
  z-index: 1800;
  width: 100%; height: 100%;
  background-color: white;
  display: none;

  .container {
    width: 100%; height: 100%;
    position: relative;
    margin: 25% 0 0 8%;
    display: none;

    ul li {
      margin-bottom: 2px;

      a {
        font: 13px 'DIN Pro Medium', sans-serif, Arial;
      }
    }
    .languages {
      margin-bottom: 10%;
    }
    #menu-mobile {
      margin-bottom: 10%;

      ul li:last-of-type {
        margin-top: 10%;
      }
    }
    .social {

    }
  }
  .copyright {
    display: none;
    z-index: 3000;
    position: fixed;
    right: 10px; bottom: 40px;
    font: 12px 'DIN Pro Medium', sans-serif, Arial;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    pointer-events: none;
  }
}

#header-desktop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  z-index: 2000;

  .container {
    height: 140%;
    margin: 0 auto;
    max-width: 1000px;
    z-index: 100;

    .left, .middle, .right {
      display: inline-block;

      ul, li {
        display: inline-block;
        position: relative;

        &:not(:last-child) {
          margin-right: 21px;
        }
        a {
          font: 12px 'DIN Pro Medium', sans-serif, Arial;
        }
        .highliner {
          position: absolute;
          left: 0; top: 100%;
          height: 1px; width: 0%;
          background-color: black;
        }
      }
    }
    .left {
      width: 25%;

      h1 a {
        font: 12px "DIN Pro Bold", sans-serif, Arial;
      }
    }
    .middle {
      width: 50%;

      ul, li {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
    .right {
      margin-left: -5px;
      width: 25%;

      ul, li {
        &:not(:first-child) {
          margin-right: 10px;
        }
      }
    }
  }
}


/* CONTENT */
#fullpage {
  width: 100%; height: 100%;
  text-align: center;

  .section {
    display: table;
    table-layout: fixed;
    width: 100%;

    .container {
      margin: 0 auto;
      vertical-align: middle;
      width: 100%;
      max-width: 1000px;
    }
  }
}


/* HOME */
#section-home {
  position: relative;

  .background-slider, .background-slider-mobile {
    position: absolute;
    width: 100%; height: 100%;
    top: 0;
    overflow: hidden;

    * {
      width: 100%; height: 100%;
    }

    .background-slide {
      cursor: pointer;
      width: 100%; height: 100%;
      background-size: cover;
    }

    .background-video {
      position: absolute;
  		right: 0;
  		bottom: 0;
  		top:0;
  		right:0;
  		width: 100%;
  		height: 100%;
  		background-size: 100% 100%;
   		background-color: white; /* in case the video doesn't fit the whole page*/
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:3;
    }
  }

  .arrow-down {
    width: 100%;
    position: absolute;
    bottom: 28px;

    img {
      cursor: pointer;
      width: 40px; height: 45px;
    }
  }
}

/* PROJECTS */
#section-projects {
  .container {
    margin-top: -40px !important;
    position: relative;

    .year-section {
      position: relative;

      // &:first-child {
      //   margin-top: 40%;
      // }

      &:last-child {
        margin-bottom: 60%;
      }

      .year {
        position: absolute;
        top: -32px; left: -58px;
        display: none;
        pointer-events: none;

        span {
          font: 52px 'DIN Pro Bold';
          color: $grey;
          opacity: .3;
        }
      }
      .projects-list {
        text-align: left;
        width: 100%;
        a {
          width: 20%;
          display: inline-block;
          margin-bottom: 36px;
          margin-right: 4.5%;
          cursor: pointer;
          vertical-align: top;
          position: relative;


          .project-cover {
            top: 0; left: 0;
            position: absolute;
            width: 100%; height: 100%;
            background-position: center;
            background-size: cover;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            -webkit-filter: alpha(opacity=0);
            -moz-filter: alpha(opacity=0);
            -ms-filter: alpha(opacity=0);
            -o-filter: alpha(opacity=0);
            filter: alpha(opacity=0);

            -webkit-transition: opacity 300ms ease;
            -moz-transition: opacity 300ms ease;
            -ms-transition: opacity 300ms ease;
            -o-transition: opacity 300ms ease;
            transition: opacity 300ms ease;
          }

          &:nth-child(4n + 0) {
            margin-right: 0%;
          }

          li {
            * {
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
            .client {
              font: 13px 'DIN Pro Medium';
              line-height: 15px;
              color: $black;
            }
            .title {
              font: 13px 'DIN Pro';
              line-height: 15px;
              color: $black;
            }
            .categories {
              font: 8px "DIN Pro Light";
            }
          }
        }
      }
    }
  }
}
.year-fixed {
  display: none;
  position: fixed;
  margin-top: 21%;
  top: 0;
  pointer-events: none;

  span {
    font: 52px 'DIN Pro Bold';
    color: $grey;
    opacity: .3;
  }
}
.covers-container {
  // display: none;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 10%; right: 0; bottom: 0; left: 0;

  .cover {
    display: none;
    max-width: 870px;

    img {
      position: absolute;
      height: auto;
      max-width: 500px;
      max-height: 500px;
    }
  }
}
#projects-sliders {
  display: none;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;

  .close-button {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 3000;
    cursor: pointer;

    img {
      opacity: .8;
      width: 30px; height: auto;
    }
  }

  .center-cover {
    position: absolute;
    height: 500px; width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  .right-cover, .left-cover {
    z-index: 100;
    position: absolute;
    height: 100%; width: 50%;
    top: 0;
  }
  .right-cover {
    right: 0;
    cursor: url("/images/right-cursor.png"), auto;
  }
  .left-cover {
    left: 0;
    cursor: url("/images/left-cursor.png"), auto;
  }
  .slick-slide {
    height: 100vh;
  }
  .unique-slider {
    display: none;

    .slide {
      width: 100%;

      .overflower {
        overflow: hidden;
        height: 100%; width: 100%;

        &.background-image-container {
          background-position: center center;
          background-size: cover;
        }

        img, video {
          min-width: 100%;
          min-height: 100%;
          position: absolute;
          /* height: auto; */
          width: auto;
          height: 100%;
        }
      }
    }
    .presentation-slide {
      position: relative;

      .presentation-container {
        z-index: 999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .left, .right {
          vertical-align: top;
          width: 50%;
        }
        .left {
          width: 20%;
          width: 170px;
          float: left;

          .client {
            font: 13px "DIN Pro Medium";
          }
          .season {
            font: 8px "DIN Pro Medium";
          }
          .categories {
            font: 8px "DIN Pro Light";
            margin-bottom: 17px;
            color: grey;
          }
          .url-container {
            z-index: 40000;
            cursor: pointer;

            a {
              outline: none !important;
              font: 10px "DIN Pro Light";
            }
          }
        }
        .right {
          width: 270px;
          float: right;

          .title {
            font: 13px "DIN Pro Medium";
          }
          .overflower-container {
            position: absolute;

            .overflower {
              height: 100%;
              max-height: 120px;
              overflow: hidden;

              &.longer {
                max-height: 248px;
                height: 100%;
                // overflow-y: scroll !important;
                // overflow: auto !important;
                // overflow: scroll !important;
                // overflow-y: auto !important;
                overflow-y: scroll !important;
              	overflow-x: hidden;
              	-webkit-overflow-scrolling: touch;

                &::before {
                  content: '';
                  width: 100%;
                  height: 18px;
                  position: absolute;
                  top: 0;
                  right: 0;
                  background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 100%);
                  background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 100%);
                  background:linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 100%);
                  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
                }

                &::after {
                  content: '';
                  width: 100%;
                  height: 18px;
                  position: absolute;
                  bottom: 17px;
                  right: 0;
                  background:-moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,1) 100%);
                  background:-webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,1) 100%);
                  background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,1) 100%);
                  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
                }
              }
            }
            .description, .toggle-more {
              text-align: justify;
              font: 10px "DIN Pro Light";
            }
            .toggle-more {
              cursor: pointer;
              display: none;
            }
          }
        }
      }
    }
  }
}

/* ABOUT */
#section-about {
  .container {
    text-align: left;
    margin-top: 190px !important;

    .right {
      vertical-align: top;
      display: inline-block;
      max-width: 250px;
      width: 100%;

      h3 {
        margin-top: 8px;
      }
    }
    .left {
      display: inline-block;
      max-width: 460px;

      p {
        text-align: left;
        text-align: justify;
        font: 10px "DIN Pro Light";
        line-height: 14px;
      }
    }
  }
}

/* Contact */
#section-contact {
  .container {
    .columns {
      display: inline-block;
      width: 100%;
      text-align: left;

      .title {
        font: 13px "DIN Pro Medium";
      }
      .regular {
        font: 13px "DIN Pro";
      }
      .italic {
        font: 13px "DIN Pro Italic";
      }
      .lighter {
        font: 8px "DIN Pro Light";
        color: $grey;
      }
      .helper {
        display: inline-block;
        height: 1px;
        width: 25%;
      }
      .left {
        text-align: left;
        display: inline-block;

      }
      .right {
        display: none !important;
        margin-left: 20px;
        vertical-align: top;
        text-align: left;
        display: inline-block;
      }
    }
  }
}


/* Press */
#section-press {
  .container {
    height: 260px;

    .columns {
      display: inline-block;
      width: 100%;
      text-align: left;
      height: 350px;
      padding-right: 30px;

      .helper {
        display: inline-block;
        height: 1px;
        width: 25%;
      }
      .right, .left {
        position: relative;
        height: 100%;

        .header {
          z-index: 2;
          height: 26px;
        }
        .gradient-press {
          z-index: 1;
          margin-top: 20px;
          position: absolute;
          top: 0;
          height: 20px; width: 100%;
          background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 100%);
          background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 100%);
          background:linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 100%);
          filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
        }
        &::-webkit-scrollbar {
          display: none;
        }
        &::after {
          content: '';
          width: 100%;
          height: 18px;
          position: absolute;
          bottom: 0;
          right: 0;
          background:-moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,1) 100%);
          background:-webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,1) 100%);
          background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,1) 100%);
          filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
        }
      }
      .left {
        text-align: left;
        display: inline-block;
        position:relative;
        width: 22%;
      }
      .right {
        display: none !important;

        width: 22%;
        margin-left: 20px;
        vertical-align: top;
        text-align: left;
        display: inline-block;
      }

      h3 {
        margin: 0;
        font: 13px "DIN Pro Medium", sans-serif, Arial;
      }
      ul {
        height: 500px;
        position:relative;

        white-space: nowrap;
      	overflow-y: scroll !important;
      	overflow-x: hidden;
      	-webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
          display: none;
        }
        li {
          position:relative;
          p {
            span {
              display: block;
            }
            .season {
              color: $grey;
              font: 8px "DIN Pro Medium", sans-serif, Arial;
              line-height: 9px;
            }
            .title {
              font: 13px "DIN Pro Medium", sans-serif, Arial;
              line-height: 15px;
            }
            .client {
              font: 13px "DIN Pro Italic", sans-serif, Arial;
              line-height: 15px;
            }
          }
        }
        .height-helper {
          height: 120px;
        }
      }
    }
  }
}

/* ADDITIONAL */
#additional {
  .logo {
    z-index: 3000;
    pointer-events: none;
    position: fixed;
    left: 100px; bottom: calc(50% - 21px);

    svg {
      height: 42px; width: auto;
    }
  }
  .copyright {
    z-index: 3000;
    position: fixed;
    right: 50px; bottom: 50px;
    font: 12px 'DIN Pro Medium', sans-serif, Arial;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    pointer-events: none;
  }

  .social {
    z-index: 3000;
    display: none;
    position: fixed;
    bottom: 45px;
    font: 12px 'DIN Pro Medium', sans-serif, Arial;

    ul {
      li {
        display: inline-block;

        &:not(:first-child) {
          margin-left: 21px;
        }
      }
    }
  }
}
#addtional-mobile {
  display: none;
}


@media screen and (max-width: 1440px) {
  #section-projects {
    .container {
      .year-section:last-child {
        margin-bottom: 45%;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  #section-projects {
    .container {
      .year-section:last-child {
        margin-bottom: 30%;
      }
    }
  }
}


@media screen and (max-width: 768px){
  #header-mobile {
    display: block;
  }
  #additional {
    display: none;
  }
  #header-desktop {
    display: none;
  }

  /* HOME */
  #section-home {
    background-position: center center;
    .arrow-down {
      bottom: 4px;
    }
  }

  /* PROJECTS */
  #section-projects {
    .container {
      margin-top: 60% !important;
      margin-bottom: 90% !important;
      box-sizing: border-box;
      padding: 0 6% 0 13%;

      .year-section {
        &:first-child {
          margin-top: 40%;
        }

        &:last-child {
          margin-bottom: 20%;
        }

        .year {
          left: -10%;
        }
        .projects-list {
          a {
            width: 45%;
            margin-right: 4%;
            margin-bottom: 24px;
            vertical-align: top;

            &:hover .project-cover {
              opacity: 1;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
              -webkit-filter: alpha(opacity=1);
              -moz-filter: alpha(opacity=1);
              -ms-filter: alpha(opacity=1);
              -o-filter: alpha(opacity=1);
              filter: alpha(opacity=1);
            }
          }
        }
      }
    }
  }
  #projects-sliders {
    .close-button {
      display: none;
    }
    .center-cover {
      display: none;
    }
    .right-cover, .left-cover {
      display: none;
    }
    .unique-slider {
      .slide {
        img, video {
        }
        video {
        }
      }
      .presentation-slide {
        .presentation-container {
          top: 25%;

          .left {
            float: none;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 26px;

            .categories {
              margin-bottom: 5px;
            }
          }
          .right {
            float: none;
            text-align: center;

            .description {
              text-align: justify;
            }
          }
        }
      }
    }
  }

  /* ABOUT */
  #section-about {
    .container {
      padding: 0 13% 0 13%;
      box-sizing: border-box;
      margin-top: 0 !important;

      .right {
        width: 100%;
        text-align: center;
        max-width: 100%;
      }
      .left {
        margin-left: auto;
        p {
          text-align: justify;
        }
      }
    }
  }

  /* Contact */
  #section-contact {
    .container {
      .columns {
        display: inline-block;
        width: 100%;
        text-align: left;
        margin: 0 auto;

        .helper {
          display: none;
        }
        .left {
          display: block;
          margin: 0 auto;

          span, p {
            text-align: center;
          }
        }
      }
    }
  }

  /* PRESS */
  #section-press {
    .container {
      padding: 0 13% 0 13%;
      box-sizing: border-box;
      margin-top: 28% !important;

      .columns {
        overflow-y: hidden;

        .helper {
          display: none;
        }
        .right, .left {
          width: 61%;
          min-height: 101%;

          ul {
            min-height: 101%;
          }
        }
        .right {
          margin-left: 6%;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

}
/* ADMIN */
table, th, td {
  text-align: center;
  border: 1px solid $grey;
  border-collapse: collapse;
}
