<div>
	<ul>
		<li>
		{{#each data}}
			<p>{{ this.name }}</p>
			<a href="/projects/edit/{{ this.id }}">Editer ce projet</a>
			<a href="/projects/delete/{{ this.id }}">Supprimer ce projet</a>
		{{/each}}
		</li>
	</ul>
</div>
